# Firebase Admin SDK
FIREBASE_PROJECT_ID=ameciclowsiteteste
FIREBASE_CLIENT_EMAIL=your-client-email@example.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_DATABASE_URL=https://ameciclowsiteteste-default-rtdb.firebaseio.com
FIREBASE_STORAGE_BUCKET=ameciclowsiteteste.firebasestorage.app

# Firebase Client
FIREBASE_API_KEY=AIzaSyBzCqfpkVGOkTmTWP1rGZp3uWpBeK-qH0w
FIREBASE_AUTH_DOMAIN=ameciclowsiteteste.firebaseapp.com
FIREBASE_MESSAGING_SENDER_ID=1079440196793
FIREBASE_APP_ID=1:1079440196793:web:4282580dbc2091dafd4768
FIREBASE_MEASUREMENT_ID=your-measurement-id